:root {
    --primary-color: #000000;
    --primary-color-transparent: #00000084;
    --background-color: #F2E8DF;
    --neon-glow: 132, 97%, 39%;
    --valid-color: rgb(28, 210, 28);
    --invalid-color: rgb(231, 19, 19);
    --row-highlight: rgba(56, 255, 56, 0.3);
    --col-highlight: rgba(65, 65, 255, 0.3);
    --subgrid-highlight: rgba(255, 255, 62, 0.3);
    font-size: 16px;
}

html, body{
    -webkit-text-size-adjust: none; 
}
/* LOADER */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    z-index: 9999;
}

.hidden-loader {
    display: none;
}
.loader {
    --c:no-repeat linear-gradient(#35593d 0 0);
    background: 
      var(--c),var(--c),var(--c),
      var(--c),var(--c),var(--c),
      var(--c),var(--c),var(--c);
    background-size: 16px 16px;
    animation: 
      l32-1 1s infinite,
      l32-2 1s infinite;
  }
  @keyframes l32-1 {
    0%,100% {width:45px;height: 45px}
    35%,65% {width:65px;height: 65px}
  }
  @keyframes l32-2 {
    0%,40%  {background-position: 0 0,0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,  50% 50% }
    60%,100%{background-position: 0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,0 0,  50% 50% }
  }

/* Fonts */
.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
      
  
/* GENERAL */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    box-sizing: border-box;
    color: var(--primary-color);
}

.title {
    font-family: "Amatic SC";
    font-size: 4rem;
    margin: 0;
}

/* BTN */
button {
    color: var(--primary-color);
    padding: 0.625rem 1.5625rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.3rem;
    border: 0.01rem solid var(--primary-color);
    background-color: transparent;
    box-shadow: 0.1rem 0.15rem 0.1rem 0.001rem var(--primary-color-transparent);
}

button:hover{
    box-shadow: 0rem 0rem 0.5rem -0.125rem var(--primary-color-transparent);

}

button:active{
    outline: none;
    box-shadow: inset 0.1rem 0.1rem 0.1rem 0.001rem var(--primary-color-transparent);
}

#solveCellButton{
    display: none;
}


/* SIZES BUTTONS */
.size-button{
    font-family: "Amatic SC";
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    border: none;
    box-shadow: none;
}

.size-button:hover, .size-button:active{
    border: none;
    box-shadow: none;
    transform: scale(1.2);
    cursor: pointer;
}

.grid-size-wrapper{
    display: flex;
    align-self: center;
}


/* GRID */
.sudoku-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sudoku-grid {
    display: grid;
    padding: 1rem;
    gap: 0.3rem;
    width: 23rem;
    height: 23rem;
    border-radius: 1rem;
    background-color: var(--background-color);
    border: 0.2rem solid var(--primary-color);
    -webkit-overflow-scrolling: touch;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#sudoku-grid.solved{
    border: 0.2rem solid transparent;

}


#sudoku-grid.solved::after, #sudoku-grid.solved::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: repeating-conic-gradient(from var(--angle),#0000 0% 25%, hsl(var(--neon-glow), 10%) 0%, hsl(var(--neon-glow), 32%), hsl(var(--neon-glow), 50%), hsl(var(--neon-glow), 100%), hsl(var(--neon-glow), 80%) 50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 0.4rem;
    border-radius: 1.2rem;
    animation: 3s spin linear infinite;
}

#sudoku-grid.solved::before{
    filter: blur(1.5rem);
    opacity: 0.3;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/* CELLS */
.sudoku-cell {
    color: var(--primary-color);
    min-width: 0;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-font-smoothing: none;
    text-rendering: optimizeSpeed;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--primary-color);
    background-color: transparent;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.001rem var(--primary-color-transparent);
    transition: all 0.1s;
    line-height: 1.2;
}

.sudoku-cell:focus{
    outline: none;
    box-shadow: inset 0.1rem 0.1rem 0.1rem 0.001rem var(--primary-color-transparent);
}

.right-border{
    margin-right: 0.2rem;
}
.left-border{
    margin-left: 0.2rem;
}
.bottom-border{
    margin-bottom: 0.2rem;
}
.top-border{
    margin-top: 0.2rem;
}

.valid:focus{
    border-color: var(--valid-color);
}

.invalid:focus {
    border-color: var(--invalid-color);
}

/* Control Panel */
.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-menu {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
}

@media (max-width: 400px){
    :root {
        font-size: 12px;
    }
    #sudoku-grid{
        width: 19rem;
        height: 19rem;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
    #sudoku-grid{
        width: 26rem;
        height: 26rem;
    }
    .sudoku-grid{
        padding: 0.5rem;
    }
    .title {
        font-size: 4rem;
    }
    #sliderValue{
        font-size: 1.5rem;
    }
    button {
        padding: 0.6rem 0.7rem;
    }
}

@media (min-width: 2000px) {
    body {
        font-size: 20px;
    }
    #sudoku-grid{
        width: 29rem;
        height: 29rem;
    }
    .title {
        font-size: 6rem;
    }
    #sliderValue{
        font-size: 2.5rem;
    }
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-btn {
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
}

.modal-content {
    background: var(--background-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.modal-content h2{
    font-family: "Amatic SC";
    font-size: 2rem;
    margin: 0;
}

.close-x {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: var(--primary-color);
}

.close-x:hover {
    color: var(--primary-color-transparent);
}

/* HIGHLIGHT */
.highlight-row {
    background-color: var(--row-highlight);  /* Light green for row */
}

.highlight-col {
    background-color: var(--col-highlight)  /* Light blue for column */
}

.highlight-subgrid {
    background-color: var(--subgrid-highlight);  /* Light yellow for subgrid */
}


/* THEMES */
.theme-wrapper{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.theme {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.1rem solid var(--primary-color);
    border-radius: 50%;
    transition: all 0.2s;
}

.theme.selected{
    border-radius: 10%;
}

.theme:hover {
    border-radius: 10%;
    cursor: pointer;
}

#theme1{
    background: #F2C4DA;
}
#theme2{
    background: #F2E8DF;
}
#theme3{
    background: #003c00;
}
#theme4{
    background: #140126;
}
